*{
    box-sizing: border-box;
}
    html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
} 

body{
    margin: 0;
}

h1 {font-size: 3.5em;}
h2 {font-size: 2.7em;}
h3 {font-size: 2em;}
p{font-size: 1.25em;}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);a
    color: #efefef;
    background-color: #9b3838; 
}

button:hover {
    background-color: #640404;
}

.container {
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight:bold;
    color: #9b3838;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items:center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding:5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #222;
}

header a:hover {
    color: red
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: #efefef;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url('img/monster.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
#hero h1 {
    color: white;
}

#hero button{
    font-size: 1.6em;
}

#somos-1articulo{

}

#somos-1articulo .container{
    text-align: center;
    padding: 200px 12px;
}


h2 .color-acento {
    color: #ce1111;
}

#nuestros-articulos {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#nuestros-articulos .container {
    padding: 150px 12px;}

#nuestros-articulos p{
    display: none;
    margin-bottom: 30px;
}

#nuestros-articulos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-articulos h3 {
    font-size: 1.6em;
    font-weight: bold;
}

.carta p{
    text-align: justify;
    margin: 10px
}

#nuestros-articulos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius:15px ;
}

#nuestros-articulos button{
    padding: 10px;
}


.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url('img/post1.jpeg');
 
}

.carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url('img/politica1.jpeg');
}

.carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url('img/guitarra.png');   
}

footer .container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer {
    background-color: #070606;
    
}

footer p{
    margin: 0;
    padding: 12px;
    color: #938989;
}

@media (min-width:720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #somos-1articulo .container{
        display: flex;
        justify-content: center;


    }

    #somos-1articulo .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-1articulo .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url('img/coffee.png');
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }
   
}
